GITHUB_PERSONAL_ACCESS_TOKEN=XXXxxxXXXxxxXXXxxx
NEXUS_ADMIN_PASSWORD=change_me
NEXUS_ADMIN_USERS=username=test;firstname=Test;lastname=User;email=test2.user@example.org;password=test123;:username=test2;firstname=Test2;lastname=User;email=test2.user@example.org;password=test123;
NEXUS_DEPLOYER_USERS=username=jenkins;firstname=Jenkins;lastname=Bot;email=jenkins.bot@example.org;password=jenkins123;
SMEE_ID=XXXxxxXXXxxxXXXxxx
