@test:registry=http://nexus:8081/repository/npm-internal/
//nexus:8081/repository/npm-internal/:_password=amVua2luczEyMw==
//nexus:8081/repository/npm-internal/:always-auth=true
//nexus:8081/repository/npm-internal/:email=jenkins.bot@example.com
//nexus:8081/repository/npm-internal/:strict-ssl=false
//nexus:8081/repository/npm-internal/:username=jenkins
