:root {
  --primary-500-color: #6200EE;
  --on-primary-high-emphasis-color: #FFF;
  --outline-color: rgba(0, 0, 0, 0.12);
  --states-primary-overlay-hover: rgba(98, 0, 238, 0.04);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
