
.main {
  height: 100vh;
  display: grid;
  gap: 8px;
  margin-left: 16px;
  margin-right: 16px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr repeat(5, 56px) 1fr;
  grid-template-areas:
    ". . . ."
    "result result result result"
    "keypad-1 keypad-2 keypad-3 ."
    "keypad-4 keypad-5 keypad-6 ."
    "keypad-7 keypad-8 keypad-9 keypad-add"
    ". keypad-0 keypad-decimal keypad-equal"
    " . . . .";
}

@media (min-width: 600px) {
  .main {
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;
    grid-template-columns: repeat(8, auto);
    grid-template-areas:
    ". . . . . . . ."
    ". . result result result result . ."
    ". . keypad-1 keypad-2 keypad-3 . . ."
    ". . keypad-4 keypad-5 keypad-6 . . ."
    ". . keypad-7 keypad-8 keypad-9 keypad-add . ."
    ". . . keypad-0 keypad-decimal keypad-equal . ."
    " . . . . . . . .";
  }
}

@media (min-width: 905px) {
  .main {
    gap: 12px;
    margin-left: initial;
    margin-right: initial;
    grid-template-columns: 1fr repeat(12, 59px) 1fr;
    grid-template-areas:
      ". . . . . . . . . . . . . ."
      ". . . . . result result result result . . . . ."
      ". . . . . keypad-1 keypad-2 keypad-3 . . . . . ."
      ". . . . . keypad-4 keypad-5 keypad-6 . . . . . ."
      ". . . . . keypad-7 keypad-8 keypad-9 keypad-add . . . . ."
      ". . . . . . keypad-0 keypad-decimal keypad-equal . . . . ."
      ". . . . . . . . . . . . . .";
  }
}

@media (min-width: 1240px) {
  .main {
    gap: 16px;
    margin-left: 200px;
    margin-right: 200px;
    grid-template-columns: repeat(12, auto);
    grid-template-areas:
      ". . . . . . . . . . . ."
      ". . . . result result result result . . . ."
      ". . . . keypad-1 keypad-2 keypad-3 . . . . ."
      ". . . . keypad-4 keypad-5 keypad-6 . . . . ."
      ". . . . keypad-7 keypad-8 keypad-9 keypad-add . . . ."
      ". . . . . keypad-0 keypad-decimal keypad-equal . . . ."
      ". . . . . . . . . . . .";
  }
}

@media (min-width: 1440px) {
  .main {
    gap: 16px;
    margin-left: initial;
    margin-right: initial;
    grid-template-columns: 1fr repeat(12, 72px) 1fr;
    grid-template-areas:
      ". . . . . . . . . . . . . ."
      ". . . . . result result result result . . . . ."
      ". . . . . keypad-1 keypad-2 keypad-3 . . . . . ."
      ". . . . . keypad-4 keypad-5 keypad-6 . . . . . ."
      ". . . . . keypad-7 keypad-8 keypad-9 keypad-add . . . . ."
      ". . . . . . keypad-0 keypad-decimal keypad-equal . . . . ."
      ". . . . . . . . . . . . . .";
  }
}

.result {
  background-color: var(--primary-500-color);
  color: var(--on-primary-high-emphasis-color);
  grid-area: result;
  font-size: 34px;
  line-height: 36px;
  border-radius: 16px 4px 4px 4px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding-right: 8px;
  padding-left: 8px;
}

.keypadButton {
  border-radius: 4px;
  color: var(--primary-500-color);
  border: 1px solid var(--outline-color);
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  user-select: none;
}

.keypad_1 {
  composes: keypadButton;
  grid-area: keypad-1;
}

.keypad_2 {
  composes: keypadButton;
  grid-area: keypad-2;
}

.keypad_3 {
  composes: keypadButton;
  grid-area: keypad-3;
}

.keypad_4 {
  composes: keypadButton;
  grid-area: keypad-4;
}

.keypad_5 {
  composes: keypadButton;
  grid-area: keypad-5;
}

.keypad_6 {
  composes: keypadButton;
  grid-area: keypad-6;
}

.keypad_7 {
  composes: keypadButton;
  grid-area: keypad-7;
}

.keypad_8 {
  composes: keypadButton;
  grid-area: keypad-8;
}

.keypad_9 {
  composes: keypadButton;
  grid-area: keypad-9;
}

.keypadAdd {
  composes: keypadButton;
  grid-area: keypad-add;
}

.keypad_0 {
  composes: keypadButton;
  grid-area: keypad-0;
}

.keypadDecimal {
  composes: keypadButton;
  grid-area: keypad-decimal;
}

.keypadEqual {
  background-color: var(--primary-500-color);
  color: var(--on-primary-high-emphasis-color);
  composes: keypadButton;
  grid-area: keypad-equal;
  border-radius: 4px 4px 16px 4px;
}

